SMART_ROOM_USER_ID=c7ab5c64-cee4-4ef6-9b2e-1f71824c0920
SMART_ROOM_SERIAL_PORT=COM3
SMART_ROOM_BAUDRATE=115200
SMART_ROOM_BACKEND_URL=http://localhost:8080
SMART_ROOM_WS_URL=ws://localhost:8080/ws
SMART_ROOM_BACKEND_TOKEN=
SMART_ROOM_DEBUG_SERIAL=1
SMART_ROOM_SENSOR_INTERVAL=5